/* DashboardPage.css */
.dashboard-page {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dashboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.dashboard-card {
  color: white;
  border: none;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-blue {
  background: linear-gradient(135deg, #d5e7ff, #bcd8ff);
}

.card-green {
  background: linear-gradient(135deg, #d7f9d0, #b9f6b8);
}

.card-orange {
  background: linear-gradient(135deg, #ffe0b2, #ffc08a);
}

.card-purple {
  background: linear-gradient(135deg, #e8d4f8, #d5aaff);
}

.card-green2 {
  background: linear-gradient(135deg, #e8d4f8, #43bbad);
}

.dashboard-user-card {
  color: white;
  border: none;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #34495e;
}

.user-avatar {
  flex: 0 0 auto;
  margin-right: 20px;
}

.user-details h3 {
  margin: 0;
  font-size: 20px;
  color: white;
}

.user-role {
  margin: 5px 0;
  font-size: 16px;
  color: #ba470e;
}

.user-stat {
  font-size: 14px;
  color: #034069;
}

.charts-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px; /* Adjust as needed */
}

.chart h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333; /* Optional: Adjust text color */
}